# ogen generation configuration. See https://ogen.dev/docs/config
schema: ./api/openapi/api.yaml
target:
  url: gen/oapi
  import: github.com/{{MODULE_PATH}}/gen/oapi
generate:
  models: true
  chi_server: true