version: v2
managed:
  enabled: true
  override:
    GO_PACKAGE_PREFIX:
      default: github.com/{{MODULE_PATH}}/gen/proto
plugins:
  - remote: buf.build/protocolbuffers/go
    out: gen/proto
    opt: paths=source_relative
  - remote: buf.build/grpc/go
    out: gen/proto
    opt:
      - paths=source_relative
      - require_unimplemented_servers=false